[Desktop Entry]
Type=Application
Version=1.0.10
Name=Chain Arithmetics
Comment=Simple arithmetics, but be fast.
Exec=chain_arithmetics
Icon=chain_arithmetics
Terminal=false
Categories=Games;
StartupWMClass=com.loloof64.chain_arithmetics